
@media screen and (max-width: 800px){

	.navigation{
		flex-direction: column;
		text-align: center;
	}
	
}

@media screen and (max-width: 680px){
	.aboutUs__block h2{
		text-align: center;
	}
	.aboutUs-inf{
		display: block;
	}
	.comments__block{
		display: block;
	}
	.comments__leftBlock , .comments__rightBlock{
		width:100% 
	}
}